{% extends "base.html" %}
{% block head %}
<link href="{{ STATIC_URL }}css/homepage/homepage.css" type="text/css" rel="stylesheet" media="screen" />
<link href="{{ STATIC_URL }}css/content_elements/orange_container.css" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}
{% block content %}
	<div id="homepage_content_left_container">
	
		<div class="orangecontainer box" id="welcome_container">
			<div class="orangecontainer_heading"><span>Welcome</span></div>
			<div class="orangecontainer_content">
			<p>
Welcome to cloud byte gaming.
We have been making games since 2012
we are a rag tag bunch of people with a passion for creating games and pasta.
We are from all parts of the world and all aspects of life. We come together with
one goal in mind to make mind blowing, genre shattering games. We are always
looking for new blood to help us out. Feel free to check us out or come in our IRC
and poke around.
something like that?
			</p>
			<div class="orangecontainer_corner"></div>
			<div class="orangecontainer_corner_fill"></div>
			</div>
		</div>
		
	</div>
	<div id="homepage_content_right_container">
	
		<div class="orangecontainerS box" id="latestnews_container">
			<div class="orangecontainerS_heading"><span>Recent Articles</span></div>
			<div class="orangecontainerS_content">
			<div id="latestnews">
                <ul>
                {% for entry in articles %}
                <li><a href="{% url blog-index %}#{{ entry.id }}">{{ entry.headline }}</a></li>
                {% endfor %}
                </ul>
            </div>
			<div class="orangecontainerS_corner"></div>
			<div class="orangecontainerS_corner_fill"></div>
			</div>
		</div>
	
		<div class="orangecontainerS box" id="FAQ_container">
			<div class="orangecontainerS_heading"><span>FAQ</span></div>
			<div class="orangecontainerS_content">
			<div id="faqsummary">
				<dl>
					<dt>First question in the list?</dt>
					<dd>- Leberkase capicola brisket sirloin salami, ball tip sausage beef ribs beef.</dd>
					<dt>Whatsup with the content in this box?</dt>
					<dd>- Still need to develop a write the app to have dynamic content.</dd>
				</dl>		
			</div>
			<div class="orangecontainerS_corner"></div>
			<div class="orangecontainerS_corner_fill"></div>
			</div>
		</div>
	
		<div class="orangecontainer2 box" id="project_status">
			<div class="orangecontainer2_heading"><span>Project Status</span></div>
			<div class="orangecontainer2_content">
			<span>Planning Stages</span>		
			<div class="orangecontainer2_corner_fill"></div>
			</div>
		</div>
		
	</div>
    <br style="clear:both"/>
{% endblock %}
