/* Homepage layout stylesheet for redditstudio
	I'm going to try and keep actual elements defined
	elsewhere in an attempt to separate components.
	This will usually not go as planned.
*/

#main_content{
	padding-bottom: 130px;
}

#homepage_content_left_container{
	float: left;
	width: 600px;
}

#homepage_content_right_container{
	float: left;
	width: 400px;
	left: 600px;
}

.box{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#welcome_container{
	width: 500px;
	font-size: 1.2em;
	line-height: 23px;
}

/* news box */
#latestnews{
	width: 100%;
	max-height: 150px;
}

#latestnews_container{
	width: 100%;
	float: right;
}

#latestnews ul{
    list-style: none;
}

#latestnews li{
    padding: 5px;
}

#latestnews a{
    color: #E3E3E3;
    text-decoration: none;
}

#latestnews a:hover{
    text-decoration: underline;
}

/* END news box */
/* faq box */
#FAQ_container{
	width: 100%;
	float: right;
}
#faqsummary{
	width: 100%;
	height: 100px;
}

#faqsummary dt{
	font-weight: 900;
}
#faqsummary dd{
	padding-left: 20px;
	padding-bottom: 10px;
}
/* END faq box */

#project_status{
	float: right;
	width: 250px;
}
