/* Homepage layout stylesheet for redditstudio
	I'm going to try and keep actual elements defined
	elsewhere in an attempt to separate components.
	This will usually not go as planned.
*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Dynalight'), local('Dynalight-Regular'), url('../../fonts/lato.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/lato-extrabold.woff') format('woff');
}

body{
	font-family: Lato;
	background-color: black;
	background-image: url('../../images/homepage/irongrip.png');
}

#mainheader{
	background-color: #cccccc;
	width: 100%;
	height: 100px;
	background-image: url('../../images/homepage/dark_stripes.png');
	border-bottom: 1px solid #3b3b3b;
}

#headercontent{
	width: 1000px;
	height: 100px;
	position: relative;
}

#logowrapper{
	position: absolute;
	width: 200px;
	padding-top: 15px;
}

#logo{
	height: 70px;
	width: 200px;
	background-color: grey;
}

#menubar_wrapper{
	position: absolute;
	width: 800px;
	bottom: -1px;
	left: 201px;
}

#homepage_content{
	width: 1000px;
	height: 680px;
	position: relative;
	background-color: #2d2d2d;
	border-left: 1px solid #3b3b3b;
	border-right: 1px solid #3b3b3b;
	
}

#homepage_content_left_container{
	position: absolute;
	width: 600px;
}

#homepage_content_right_container{
	position: absolute;
	width: 400px;
	left: 600px;
}

#welcome_container{
	width: 500px;
	font-size: 1.2em;
	margin-top: 20px;
	margin-left: 20px;
}

#latestnews{
	width: 100%;
	height: 150px;
}

#latestnews_container{
	margin-top: 20px;
	margin-right: 20px;
	width: 350px;
	float: right;
}
/* faq box */
#FAQ_container{
	margin-top: 20px;
	margin-right: 20px;
	width: 350px;
	float: right;
}
#faqsummary{
	width: 100%;
	height: 100px;
}

#faqsummary dt{
	font-weight: 900;
}
#faqsummary dd{
	padding-left: 20px;
	padding-bottom: 10px;
}
/* END faq box */

#project_status{
	margin-right: 20px;
	margin-top: 20px;
	float: right;
	width: 250px;
}

#footer{
	background-color: #cccccc;
	width: 100%;
	height: 30px;
}