.mainmenubar{
	width: 100%;
	height: 40px;
}

.menubar_button{
	position: relative;
	color: grey;
	height: 100%;
	width: 130px;
	text-align: center;
	float: right;
	background-color: #1f1f1f;
	border-top: 1px solid #3b3b3b;
	
}

.menubar_button_link{
	height: 100%;
	width: 140px;
	display: inline-block;
	line-height: 40px;
}

.menubar_button_link:link{
	text-decoration: none;
	color: grey;
}

.menubar_button_link:visited{
	text-decoration: none;
	color: grey;
}

.menubuttonhighlight{
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0px;
}

.menubar_button:hover a{
	color: #949494;
}

.menubar_button:hover .menubuttonhighlight{
	background-color: grey;
}

.menubuttonselected:hover .menubuttonhighlight{
	background-color: #fdc600;
}

.menubuttonselected:hover a{
	color: grey;
}

.menubuttonselected a{
	pointer-events: none;
   cursor: default;
}

.menubuttonselected .menubuttonhighlight{
	background-color: #fdc600;
}

.mainmenubar .menubar_button:first-child {
	border-right: 1px solid #3b3b3b;
}

.mainmenubar .menubar_button:last-child {
	border-left: 1px solid #3b3b3b;
}

.menubar_button_label{
	line-height: 40px;
}
