/* Css for an orange-bordered content-container. 
	Has a header and a body.
*/

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/theleagueof-orbitron-13e6a52/webfonts/orbitron-black-webfont.woff') format('woff');
}

/* style one with cut off corner */
.orangecontainer{
	border: 3px solid #fdc600;
/*	border: 3px solid #212121; */
	color: #e3e3e3;
	border-radius: 1px;
	position: relative;
}

.orangecontainer_heading{
	font-family: Orbitron;
	font-weight: bold;
	background-color: #fdc600;
/*	background-color: #212121; */
	font-size: 2em;
	padding: 7px;
	padding-left: 16px;
	color: #222222;
/*	color: grey; */
	height: 60px;
	display: table;
	width: 100%;
}

.orangecontainer_heading span{
	display: table-cell;
	vertical-align: middle;
}

.orangecontainer_content{
	padding: 15px;
	padding-bottom: 30px;
}

.orangecontainer_corner{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -3px;
	right: -3px;
	border-bottom: 40px solid #fdc600;
/*	border-bottom: 40px solid #212121; */
	border-left: 40px solid rgba(1,1,1,0);
}

.orangecontainer_corner_fill{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -5px;
	right: -5px;
	border-bottom: 40px solid #1f1f1f;
	border-left: 40px solid rgba(1,1,1,0);
}

/* Style 2 In-line style */
.orangecontainer2{
	border: 3px solid #fdc600;
	color: #e3e3e3;
	border-radius: 1px;
	position: relative;
	display: table;
}

.orangecontainer2_heading{
	padding: 4px;
	font-family: Lato;
	font-weight: 900;
	background-color: #fdc600;
	display: table-cell;
	width: 30%;
	min-width: 105px;
}

.orangecontainer2_content{
	padding: 4px;
	padding-left: 10px;
	display: table-cell;
	-webkit-box-shadow:inset 0px 0px 13px #000000;
}

.orangecontainer2_corner_fill{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: 0px;
	right: 0px;
	border-bottom: 15px solid #fdc600;
	border-left: 15px solid rgba(1,1,1,0);
}

/* Smaller style - suitable for sidebar */
.orangecontainerS{
	border: 3px solid #fdc600;
	color: #e3e3e3;
	border-radius: 1px;
	position: relative;
}

.orangecontainerS_heading{
	font-family: Orbitron;
	font-weight: bold;
	background-color: #fdc600;
	font-size: 1em;
	padding-left: 16px;
	color: #222222;
	height: 30px;
	display: table;
	width: 100%;
}

.orangecontainerS_heading span{
	display: table-cell;
	vertical-align: middle;
}

.orangecontainerS_content{
	padding: 15px;
	padding-bottom: 30px;
}

.orangecontainerS_corner{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -3px;
	right: -3px;
	border-bottom: 20px solid #fdc600;
	border-left: 20px solid rgba(1,1,1,0);
}

.orangecontainerS_corner_fill{
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: -5px;
	right: -5px;
	border-bottom: 20px solid #1f1f1f;
	border-left: 20px solid rgba(1,1,1,0);
}

/* small orange box */
.orangebox{
    font-size: 11px;
    position: relative;
    overflow: hidden;
    line-height: 20px;
    font-weight: 900;
    border-radius: 2px;
}

.orangebox_topfilla{
    position: relative;
    height: 20px;
    background-color: black;
    left: 20px;
}

.orangebox_corner{
    position: relative;
    float: left;
    width: 0px;
    height: 0px;
    border-left: 20px solid rgba(0,0,0,0);
    border-bottom: 20px solid black;
}

.orangebox_content{
    color: #e3e3e3;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.article_content_wrapper{
    padding: 10px;
}
