@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-extrabold.woff') format('woff');
}

body{
	font-family: Lato;
	background-color: black;
	background-image: url('../images/homepage/dark_stripes.png');
}

#mainheader{
    padding-left: 50px;
    padding-right: 50px;
    min-width: 1100px;
	background-color: #cccccc;
	height: 210px;
	background-image: url('../images/homepage/irongrip.png');
	border-bottom: 1px solid #3b3b3b;
}

#headercontent{
	width: 1000px;
	min-width: 1000px;
	height: 210px;
	position: relative;
}

#logowrapper{
	position: absolute;
	height: 200px;
	width: 294px;
}

#menubar_wrapper{
	position: absolute;
	width: 706px;
	bottom: -1px;
	right: -1px;
}

#maincontent_wrapper{
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 100%;
}

#main_content{
	position: relative;
	width: 1000px;
	background-color: #1f1f1f;
	border-left: 1px solid #3b3b3b;
	border-right: 1px solid #3b3b3b;
}

/****footer****/
#footer{
	background-color: #3b3b3b;
	width: 1000px;
	height: 75px;
	text-align: center;
	border: 1px solid #3b3b3b;
}

#footer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#footer ul li {
	border-bottom-width: 1px;
	margin: 0px;
}

.footerIconAbout {
	background-position: right top;
	padding-bottom: 10px;
}

.footerIconGames {
	background-position: right top;
	padding-bottom: 10px;
}

.footerIconContact {
	background-position: right top;
	padding-bottom: 10px;
}

.footerList    {
	line-height: 15px;
}

.footerIconAbout a, .footerIconGames a, .footerIconContact a {
	color: grey;
	text-decoration: none;
}

.footerIconAbout a:hover, .footerIconGames a:hover, .footerIconContact a:hover {
	color: #000000;
}

#footer #footerFooter {
	color: grey;
	height: 115px;
	width: 1000px;
	padding-top: 25px;
	padding-left: 40px;
}

#footer #footerFooter p {
	padding-left: 75px;
	float: left;
	margin: 0px;
	padding-top: 35px;
	font-size: 11px;
}

#footer #footerFooter a {
	color: #D70043;
	text-decoration: none;
}

.columns {
	margin-left: 205px;
}

.col {
	width: 200px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #555555;
	margin-left: 25px;
	float: left;
	padding-top: 12px;
	margin-top: 25px;
	display: inline;
}

.gutter {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #555555;
	width: 200px;
	margin-left: 62px;
	float: left;
	padding-top: 12px;
	margin-top: 25px;
	display: inline;
}

.gutter h3 {
	font-size: 12px;
	color: #222222;
	line-height: 15px;
	margin: 0px 0px 25px;
	padding: 0px;
	font-weight: bold;
}
