*_{
	outline: 1px solid yellow;
}

form{
    margin-top: 50px;
    font-family: lato;
    color: #e3e3e3;
    width: 700px;
}

form table{
	width: 100%;
}

form label{
    padding-right: 10px;
    display: block;
}

.fieldlabel{
    width: 100px;
	overflow: hidden;
}

.errorlist {
	padding-left: 30px;
	list-style-type: none;
	color: darkred;
}

#id_visitor_name, #id_visitor_address {
	width: 300px;
}

#id_message {
	width: 400px;
}

tr td{
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact_submit{
    padding-top: 30px;
    padding-bottom: 30px;
}
