{% extends "base.html" %}
{% block head %}
<link href="{{ STATIC_URL }}css/content_elements/blog_article.css" type="text/css" rel="stylesheet" media="screen" />
<link href="{{ STATIC_URL }}css/content_elements/orange_container.css" type="text/css" rel="stylesheet" media="screen" />
<link href="{{ STATIC_URL }}css/content_elements/markdown.css" type="text/css" rel="stylesheet" media="screen" />
<link href="{{ STATIC_URL }}css/pages/blog.css" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}
{% block content %}
{% for article in page.object_list %}
    {% include "blog/article.html" %}
{% endfor %}
<div id="article_pages">
	<div class="cell" id="previouscontainer">
		{% if page.has_next %}
		<div class="pagelink_container"><span><a class="whitelink" href="{% url blog-index page=page.next_page_number %}" >Previous</a></span></div>
		{% endif %}
	</div>
    <div class="cell" id="archivecontainer"><a class="whitelink" href="">archive</a></div>
    <div class="cell" id="nextcontainer">
        {% if page.has_previous %}
        <div class="pagelink_container"><span><a class="whitelink" href="{% url blog-index page=page.previous_page_number %}" >Next</a></span></div>
	    {% endif %}
    </div>
</div>
{% endblock %}
